.footer{
    margin-left: 35vw;
    text-align: center;
    width:45vw;
   
}
.fbody{
    padding-left: 0;
    padding-top: 1vh;
}
.main{
    background-color: rgb(241, 239, 230);
    margin-top: 10vh;
    margin-bottom: 0;
    
}

th{
    text-align: center;
}
